<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="Reply">
  	<insert id="insert">
  		insert into reply values(reply_seq.nextval, #{writer}, #{contents}, default, #{parent_seq})
  		<!-- <selectKey order="AFTER" keyProperty="seq" resultType="int">
			select brd_seq.currval from dual
		</selectKey> -->
  	</insert>
  	
  	<delete id="delete">
  		delete from reply where seq = #{value}
  	</delete>
  	
  	<update id="update">
  		update reply set contents = #{contents} where seq = #{seq}
  	</update>
  	
  	<select id="selectByParent" resultType="ean.spring.dto.ReplyDTO">
  		select * from reply where parent_seq = #{value} order by write_date
  	</select>
  	
  	<select id="selectByReplyParent" resultType="ean.spring.dto.ReplyDepthDTO">
  		select * from replydepth where board_seq = #{value} order by write_date
  	</select>
  	
  	
  	<!-- reReply -->
  	
  	<insert id="reReplyInsert">
  		insert into replydepth values(replydepth_seq.nextval, #{writer}, #{contents}, default, #{parent_reply_seq}, #{board_seq} )
  	</insert>
  	
  	<delete id="reReplyDeleteByParent">
  		delete from replydepth where parent_reply_seq = #{value}
  	</delete>
  	
  	<update id="reReplyUpdate">
  		update replydepth set contents = #{contents} where seq = #{seq} 
  	</update>
  	
  	<delete id="reReplyDeleteBySeq">
  		delete from replydepth where seq = #{value}
  	</delete>
  	
  </mapper>